<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div id="login"  style="background-color:#F0F0F0">
            <img src="../public/img/logo.png" alt="Logo"
                align="left">
            <h1>Add a New Event</h1>
            <form id="addentryform" action="/addeventquery" method="post">
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="eventname">Name:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <input type="text" id="eventname" name="eventname">
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="description">Description:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <textarea name="description" id="description" rows="5" cols="30"></textarea>
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="time">Date and Time:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <input type="datetime-local" id="time" name="time" value="<%= new Date().toISOString().slice(0, 16) %>">
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="location">Location:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <textarea name="location" id="location"></textarea>
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="person">Participant(s):</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <%members.forEach((item)=>{%>
                            <input type="checkbox" id="person" name="person" value="<%= item.memberid %>">
                            <label for="person"> <%= item.membername %> </label>
                            <br>
                        <%});%>
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="importance">Importance Level:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <select id="importance">
                            <option class="normal">Normal</option>
                            <option class="low">Low</option>
                            <option class="important">Important</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                <input type="submit" value="Submit">
            </form>
            <br>
            <form action="/main" method="post">
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
            <input type="submit" value="Back">
        </div>
    </body>
</html>
