<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div id="login"  style="background-color:#F0F0F0">
            <img src="../public/img/logo.png" alt="Logo"
                align="left">
            <h1>Add Family Member or Friend</h1>
            <p>Welcome, <%= subuser.subusername %>!</p>
            <form id="addmemberform" action="/addmemberquery" method="post">
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="addname">Name:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <input type="text" id="addname" name="addname">
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="addcategory">Relation Status:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <select id="addcategory" name="addcategory">
                            <option value="spouse">Spouse</option>
                            <option value="child">Child</option>
                            <option value="other">Other Family Member</option>
                            <option value="friend">Friend</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                <input type="submit" value="Submit">
            </form>
            <br>
            <form action="/main" method="post">
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
            <input type="submit" value="Back">
            </form>
        </div>
    </body>
</html>
