<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div id="login"  style="background-color:#F0F0F0">
            <img src="../public/img/logo.png" alt="Logo"
                align="left">
            <h1>Add a New Planner</h1>
            <form id="addplannerform" action="/addplannerquery" method="post">
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1" style="background-color:#F0F0F0">
                        <label for="plannername">Name:</label>
                    </div>
                    <div class="col2" style="background-color:#F0F0F0">
                        <input type="text" id="plannername" name="plannername">
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1" style="background-color:#F0F0F0">
                        <label for="plannerdesc">Description:</label>
                    </div>
                    <div class="col2" style="background-color:#F0F0F0">
                        <textarea name="plannerdesc" id="plannerdesc" rows="5" cols="30"></textarea>
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1" style="background-color:#F0F0F0">
                        <label for="event">Event(s):</label>
                    </div>
                    <div class="col2" style="background-color:#F0F0F0">
                        <%members.forEach((item)=>{%>
                            <input type="checkbox" id="event" name="event" value="<%= item.eventid %>">
                            <label for="event"> <%= item.eventname %> </label>
                            <br>
                        <%});%>
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1" style="background-color:#F0F0F0">
                        <label for="plannertheme">Event Type:</label>
                    </div>
                    <div class="col2" style="background-color:#F0F0F0">
                        <select id="plannertheme" name="plannertheme">
                            <option value="Normal">Normal</option>
                            <option value="Vacation">Vacation</option>
                            <option value="Birthday">Birthday</option>
                            <option value="Family Event">Family Event</option>
                            <option value="Work">Work</option>
                            <option value="Sports">Sports</option>
                            <option value="School">School</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                <input type="submit" value="Submit">
            </form>
            <br>
            <form action="/main" method="post">
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
            <input type="submit" value="Back">
        </div>
    </body>
</html>
