<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <h1> Placeholder </h1>
        <p>Welcome, <%= data.name %>!</p>
        <button onclick="window.location.href='/';">
            log out
        </button><br><br>
        <form action="/addmember" method="post">
            <input type="hidden" name="userid" value="<%= data.userid %>">
            <input type="hidden" name="username" value="<%= data.username %>">
            <input type="hidden" name="name" value="<%= data.name %>">
            <button type="submit">Add Member</button>
        </form><br>
        <form action="/editmember" method="post">
            <input type="hidden" name="userid" value="<%= data.userid %>">
            <input type="hidden" name="username" value="<%= data.username %>">
            <input type="hidden" name="name" value="<%= data.name %>">
            <button type="submit">Edit/Delete Member</button>
        </form><br>
        <form action="/addentry" method="post">
            <input type="hidden" name="userid" value="<%= data.userid %>">
            <input type="hidden" name="username" value="<%= data.username %>">
            <input type="hidden" name="name" value="<%= data.name %>">
            <button type="submit">Add Event</button>
        </form><br>
        <form action="/selectentry" method="post">
            <input type="hidden" name="userid" value="<%= data.userid %>">
            <input type="hidden" name="username" value="<%= data.username %>">
            <input type="hidden" name="name" value="<%= data.name %>">
            <button type="submit">Edit/Delete Event</button>
        </form>
    </body>
</html>
