<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div id="login">
            <h1> FamPlan Home Page </h1>
            <p>Welcome, <%= subuser.subusername %>!</p><br>
            <div class="calendar-frame">
            <h2>Calendar -
                <% let firstDate = new Date(); %> <!-- Initialize firstDate with the current date -->
                <% calendarData.forEach(week => { %>
                    <% week.forEach(day => { %>
                        <% if (day && firstDate.getTime() === new Date().getTime()) { %> <!-- Compare dates using getTime() -->
                            <% firstDate = day; %>
                        <% } %>
                    <% }) %>
                <% }) %>
                <% let currentMonth = firstDate.getMonth(); %> <!-- Define currentMonth based on firstDate -->
                <% let currentYear = firstDate.getYear(); %> <!-- Define currentMonth based on firstDate -->
                <%= firstDate ? firstDate.toLocaleString('default', { month: 'long', year: 'numeric' }) : '' %>
            </h2>
            <div>
                <form action="/prevmonth" method="post">
                    <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
                    <input type="hidden" name="events" value="<%= JSON.stringify(events) %>">
                    <input type="hidden" name="members" value="<%= JSON.stringify(members) %>">
                    <input type="hidden" name="fullevents" value="<%= JSON.stringify(fullevents) %>">
                    <input type="hidden" name="subuser" value="<%= JSON.stringify(subuser) %>">
                    <input type="hidden" name="month" value="<%= currentMonth %>">
                    <input type="hidden" name="year" value="<%= currentYear %>">
                    <button type="submit">Previous Month</button>
                </form>
                <form action="/nextmonth" method="post">
                    <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
                    <input type="hidden" name="events" value="<%= JSON.stringify(events) %>">
                    <input type="hidden" name="members" value="<%= JSON.stringify(members) %>">
                    <input type="hidden" name="fullevents" value="<%= JSON.stringify(fullevents) %>">
                    <input type="hidden" name="subuser" value="<%= JSON.stringify(subuser) %>">
                    <input type="hidden" name="month" value="<%= currentMonth %>">
                    <input type="hidden" name="year" value="<%= currentYear %>">
                    <button type="submit">Next Month</button>
                </form>
            </div>
                <div class="calendar">
                    <form id="calendarforum" action="/selecteventquery" method="post">
                        <table>
                            <thead>
                                <tr>
                                    <th bgcolor="#ADD8E6">Sun</th>
                                    <th bgcolor="#ADD8E6">Mon</th>
                                    <th bgcolor="#ADD8E6">Tue</th>
                                    <th bgcolor="#ADD8E6">Wed</th>
                                    <th bgcolor="#ADD8E6">Thu</th>
                                    <th bgcolor="#ADD8E6">Fri</th>
                                    <th bgcolor="#ADD8E6">Sat</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% calendarData.forEach(week => { %>
                                    <tr>
                                        <% week.forEach(day => { %>
                                            <% let eventExists = false; %>
                                            <% if (day) { %>
                                                <% events.forEach(event => { %>
                                                    <% if (event.eventdatetime.getDate() === day.getDate() && event.eventdatetime.getMonth() === day.getMonth() && event.eventdatetime.getFullYear() === day.getFullYear()) { %>
                                                        <% eventExists = true; %>
                                                        <td bgcolor="#90ee90">
                                                        <input type="radio" id="calendar_<%= event.eventid %>" name="editid" value="<%= event.eventid %>" >
                                                        <label for="calendar_<%= event.eventid %>" class="calendarlabel"><%= event.eventname %></label></td>
                                                    <% } %>
                                                <% }) %>
                                            <% } %>
                                            <% if (!eventExists) { %>
                                                <td><%= day ? day.getDate() : '' %></td>
                                            <% } %>
                                        <% }) %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <% if (subuser.subusertype !== "Friend") { %>
                        <input type="submit" value="Edit" name="submit" class="pad"><br>
                        <% } %>
                        <% if (subuser.subusertype === "Adult") { %>
                        <input type="submit" value="Delete" name="submit">
                        <% } %>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <% if (subuser.subusertype !== "Friend") { %>
                    <form action="/addmember" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <button type="submit">Add Member</button>
                    </form>
                    <% } %>
                    <% if (subuser.subusertype === "Adult") { %>
                    <form action="/editmember" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <button type="submit">Edit/Delete Member</button>
                    </form>
                    <% } %>
                    <% if (subuser.subusertype !== "Friend") { %>
                    <form action="/addentry" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <button type="submit">Add Event</button>
                    </form>
                    <% } %>
                    <!--<form action="/selectentry" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <button type="submit">Edit/Delete Event</button>
                    </form>-->
                    <form action="/changeuser" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <button type="submit">Change User/Log Out</button>
                    </form>
                </div>
                <br><br>
                <div class="col2">
                    <form id="selecteventforum" action="/selecteventquery" method="post">
                        <label for="editid">Select Event:</label><br><br>
                        <% if (events.length > 0) { %>
                            <% events.forEach((item, index) => { %>
                                <input type="radio" id="event_<%= item.eventid %>" name="editid" value="<%= item.eventid %>" <% if (index === 0) { %>checked<% } %>>
                                <label for="event_<%= item.eventid %>" class="radiolabel"><%= item.eventname %></label><br>
                            <% }); %>
                        <% } else { %>
                            <p>No events found. Try adding some.</p>
                        <% } %><br><br>
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <% if (subuser.subusertype !== "Friend") { %>
                        <input type="submit" value="Edit" name="submit" class="pad"><br>
                        <% } %>
                        <% if (subuser.subusertype === "Adult") { %>
                        <input type="submit" value="Delete" name="submit">
                        <% } %>
                    </form><br>
                    <form id="filtermembersform" action="/filtermembers" method="post">
                        <label for="memberfilter">Filter by Member:</label><br><br>
                        <select id="memberfilter" name="memberid">
                            <option value="null">None</option>
                            <% members.forEach((member) => { %>
                                <option value="<%= member.memberid %>"><%= member.membername %></option>
                            <% }); %>
                        </select><br><br>
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <input type="submit" value="Filter">
                    </form><br>
                    <form id="filterlocationsform" action="/filterlocations" method="post">
                        <label for="locationfilter">Filter by Location:</label><br><br>
                        <select id="locationfilter" name="location">
                            <option value="null">None</option>
                            <% const uniqueEntries = new Set();
                            fullevents.forEach((event) => {
                                const entryString = JSON.stringify(event.location);
                                if (!uniqueEntries.has(entryString)) {
                                    uniqueEntries.add(entryString); %>
                                    <option value="<%= event.location %>"><%= event.location %></option>
                                <% }
                            });
                            %>
                        </select><br><br>
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <input type="submit" value="Filter">
                    </form><br>
                    <form id="sorttimeform" action="/sorttime" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <input type="submit" value="Sort By Time">
                    </form><br>
                    <form id="sortimportanceform" action="/sortimportance" method="post">
                        <input type="hidden" name="userid" value="<%= data.userid %>">
                        <input type="hidden" name="username" value="<%= data.username %>">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                        <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                        <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                        <input type="submit" value="Sort By Importance">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
