<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div id="login"  style="background-color:#F0F0F0">
            <img src="../public/img/logo.png" alt="Logo"
                align="left">
            <h1>Select an Event to Edit/Delete</h1>
            <p>Welcome, <%= subuser.subusername %>!</p>
            <p>You aren't supposed to be here.</p>
            <form id="selecteventforum" action="/selecteventquery" method="post">
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="editid">Select Event:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <%events.forEach((item)=>{%>
                            <input type="radio" id="event_<%=item.eventid%>" name="editid" value="<%=item.eventid%>">
                            <label for="event_<%=item.eventid%>" class="radiolabel"><%=item.eventname%></label><br>
                        <%});%>
                    </div>
                </div>
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
                <input type="submit" value="Edit" name="submit">
                <input type="submit" value="Delete" name="submit">
            </form>
            <br>
            <form action="/main" method="post">
                <input type="hidden" name="userid" value="<%= data.userid %>">
                <input type="hidden" name="username" value="<%= data.username %>">
                <input type="hidden" name="name" value="<%= data.name %>">
                <input type="hidden" name="subuserid" value="<%= subuser.subuserid %>">
                <input type="hidden" name="subusername" value="<%= subuser.subusername %>">
                <input type="hidden" name="subusertype" value="<%= subuser.subusertype %>">
            <input type="submit" value="Back">
        </div>
    </body>
</html>
